/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .main-text{
        text-align: left;
        padding: 50px 20px;
        color:white;
    }
    .main-text h1{
        font-size: 60px;
        font-weight: 600;
        padding-bottom: 20px;
        padding-top:100px;
    }
    .main-text h4{
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 30px;
    }
    .main-text button{
        height: 40px;
        width: 100px;
        font-size: 12px;
        border-radius: 5px;
        font-weight: 600;
        color: white;
        background-color: rgb(223, 49, 18);
        border: hidden;
    }
    .nav-left li{
        padding:20px 10px;
    }
    .toggle{
        font-size: 25px;
        color:black;
        float: right;
        display: inline-block;
        margin: 0 0 0 80px;
    }
    .menu-title h1{
        font-size: 30px;
        }
    #video h1{
        font-size: 30px;
    }
    .pizza-video{
    width:80%;
    margin: 0 10%;
    height:300px;
    border-radius: 10px;
}
    #contact{
        width: 80%;
        margin: 10%;
    }
    #contact h1{
    text-align: center;
    padding: 50px 0px 20px 0px;
}
    .contact-form input, textarea {
        width: 80%;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px 0px 10px 20px;
        margin: 10px;
    }  
    .contact-form textarea{
        height: 180px;
    }
    footer{
        background-color: white;
        height: 120%;
    }
    .footer-section{
        width: 100%;
        padding: 30px 20px 20px 50px;
    }
    .footer-section h3,p {
         text-align: left;
    }
    .footer-section li{
        text-align: left;
    }
    .foot-logo-section h3{
        display: inline-block;
    }
    .foot-socials li{
        display: inline-block;
    }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
 @media only screen and (min-width: 768px) and (max-width: 959px) {
    body {
        background-color: green;
    }
}