/*General CSS*/

html, body{
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFFAFA;
}

a{
    text-decoration: none;
    display: inline-block;
    color: black !important;
}
a:hover{
    text-decoration: none !important;
}
li{
    list-style-type: none;
    color: black;
}
.order-btn {
    height: 50px;
    width: 150px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    background-color: rgb(223, 49, 18);
    border:hidden;
}
button:hover{
    background-color: rgb(223, 134, 18);
    border:hidden;
}
/*Header and Navigation CSS*/
nav{
    height: 80px;
    width:100%;
    position: fixed;
    top:0px;
    left:0px;
    background-color: white;
}
#nav-bar li{
    float: left;
}
#nav-bar img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.nav-right{
    margin-left: 600px;
}
.nav-right li{
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 600;
}

.nav-left li{
    padding:20px 30px;
}
.logo-text{
    font-size: 20px;
    font-weight: 600;
}
.toggle{
    font-size: 50px;
    color:black;
    float: right;
    display:none;
}
.header-image{
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(images/pizza-header.jpg);
    background-repeat: no-repeat;
    padding-top: 100px;

}
.main-text{
    text-align: right;
    padding: 50px 100px;
    color: white;
}
.main-text h1{
    font-size: 80px;
    font-weight: 600;
    padding-bottom: 50px;
    padding-top:100px;
}
.main-text h4{
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 30px;
}
.main-text button{
    height: 80px;
    width: 200px;
    font-size: 25px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    background-color: rgb(223, 49, 18);
    border:hidden;
}
.main-text button:hover{
    background-color: rgb(223, 134, 18);
    border:hidden;
}

/*Menu CSS*/
.menu-title{
    padding-top: 30px;
    padding-bottom: 25px;
}
.menu-title , p{
    text-align: center !important;
}h1
.menu{
    width: 25%;
    float: left;
    margin-bottom: 100px;
}
.menu img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.menu h2{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 25px;
}
#ourmenu{
    margin:0px 20px 0px 20px;
}
.card {
    width: 100%;
    background-color:white;
    box-shadow: 0px 2px 6px #333;
    border:hidden !important;
}
.card a {
    color: #333;
    text-decoration:none;
  }
  
.card-image img:hover{     
    width: 100%;
    filter:grayscale(0);
  }

.card-image {
    height: 250px;
    width:auto; 
    position:relative;
    overflow:hidden;
}
.card-image img {
    width:100%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    transition-property: filter width;
    transition-duration: .3s; 
}

.card-body {
  text-align:center; 
  padding: 15px 20px; 
  box-sizing: border-box;
}
.card-title h3{
    font-size: 25px;
}

/*Video CSS*/
#video h1{
    text-align:center;
    padding: 50px 0px 20px 0px;
}

.pizza-video{
    width:80%;
    margin: 0 10%;
    height:500px;
    border-radius: 10px;
}
/*Contact Form Section*/
#contact{
    border:1px solid black;
    width: 40%;
    margin: 5% 30%;
    padding-bottom: 50px;
    border-radius: 5px;
    background-color: #FFF;
}
#contact h1{
    text-align: center;
    padding: 50px 0px 20px 0px;
}
#form{
    text-align: center;
}

.contact-form input,
textarea {
    width: 50%;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 0px 10px 20px;
    margin: 10px !important;
}
.contact-btn{
    margin-top: 20px;
}

/*Footer Section*/
footer{
    background-color: white;
    height: 50%;
}
.footer-section{
    width: 25%;
    float: left;
    padding: 100px 20px 100px 50px;
}
.footer-section h3,p {
     text-align: left;
}
.footer-section li{
    text-align: left;
}
.footer-logo{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0px 10px 10px 0px;
}
.foot-logo-section h3{
    display: inline-block;
}
.foot-socials li{
    display: inline-block;
}