/*General CSS*/

html, body{
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    display: inline-block;
    color: black !important;
}
a:hover{
    text-decoration: none !important;
}
li{
    list-style-type: none;
    color: black;
}

/*Header and Navigation CSS*/
nav{
    height: 80px;
    width:100%;
    position: fixed;
    top:0px;
    left:0px;
    background-color: white;
}
#nav-bar li{
    float: left;
}
#nav-bar img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.nav-right{
    margin-left: 600px;
}
.nav-right li{
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 600;
}

.nav-left li{
    padding:20px 30px;
}
.logo-text{
    font-size: 20px;
    font-weight: 600;
}
.toggle{
    font-size: 50px;
    color:black;
    float: right;
    display:none;
}
.header-image{
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(images/pizza-header.jpg);
    background-repeat: no-repeat;
    padding-top: 100px;

}
.main-text{
    text-align: right;
    padding: 50px 100px;
    color: white;
}
.main-text h1{
    font-size: 80px;
    font-weight: 600;
    padding-bottom: 50px;
    padding-top:100px;
}
.main-text h4{
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 30px;
}
.main-text button{
    height: 80px;
    width: 200px;
    font-size: 25px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    background-color: rgb(223, 49, 18);
    border:hidden;
}

/*Menu CSS*/
.menu-title{
    padding-top: 30px;
    padding-bottom: 25px;
}
.menu-title h1, p{
    text-align: center;
}
.menu{
    width: 25%;
    float: left;
    margin-bottom: 100px;
}
.menu img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.menu h2{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 25px;
}
.card {
  width: 100%;
  background-color:white;
  box-shadow: 0px 5px 20px #555;
}
  .card a {
   color: #333;
     text-decoration:none;
  }
  

.card-image img:hover{
       
       width: 100%;
       filter:grayscale(0);
      
  }

.card-image {

  height: 250px;
  
  position:relative;
  overflow:hidden;
}
.card-image img {
    width:100%;
    
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /*filter: grayscale(1);*/
  
    transition-property: filter width;
    transition-duration: .3s; 
}

.card-body {
  text-align:center; 
  padding: 15px 20px; 
  box-sizing: border-box;
}

.card-date {
  font-family: 'Source Sans Pro', sans-serif;
}

.card-title, .card-exceprt {
   font-family: 'Playfair Display', serif;
}

/*Video CSS*/
#video h1{
    text-align:center;
}
.pizza-video{
    width:80%;
    margin: 0 10%;
    height:100%;
}
